@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-one:#A85ED6;
    --color-two:#FF589E;
    --color-text: #1e1e1e;
    --font:'Raleway', sans-serif;
}
body{
    color: var(--color-text);
    line-height: 1.6;
    font-family: var(--font);
    margin:0;
}
a{
    text-decoration: none;
    color: var(--color-text);
    /* cac the a se khong co gach chan */
}
a:hover{
    color:var(--color-two);
    text-decoration: none;
}
/* button */
.button{
    display: inline-block;
    background:#fff;
    padding: 8px 20px;
    border-radius: 45px;
    color: var(--color-text);
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.button-one{
    background: var(--color-one);
    color: #fff;
}
.button-one:hover{
    background: var(--color-two);
    color: #fff;
}
.button-two{
    background: var(--color-two);
    color: #fff;
}
.button-two:hover{
    background: var(--color-one);
    color: #fff;
}
/* end button */
/* box-head */
.box-head{
    text-align: center;
    margin-bottom: 30px;
}
.box-head .inner-content .inner-title{
    font-size: 28px;
    margin-bottom: 0;
}
.box-head .inner-content .inner-desc{
    font-size: 13px;
    margin-top:10px;
}
/* end box-head */